input[type=text] {

  width:300px;
  height: 20px;
  padding: 12px 20px;
  border: 1px solid #ccc;
  
}

input[type=text]:focus {
  border: 1px solid #A30A54;
}

button[type=submit]{
  padding: 10px 20px 10px 20px;
  background-color: #A30A54;
  color: white;
  border-radius: 25px;
}

button[type=submit]:hover {
  background-color: #EA4293;
}

img.mobile {
  border: 1px solid #A30A55;
  height: 300px;
}

img.screen {
  border: 1px solid #A30A55;
  height: 400px;
}

span.green {
  color: green;
  }

span.maroon {
  color: maroon;
}

span.material-symbols-outlined {
  font-size: 40px;
}

div.oldform {
  display: none;  
}

table.fullwidth {
  width: 100%;
  display: inline-table;
}